body{
    background-color: black;
}
.header{
    width: 1200px;
    height: 100px;
    border: 5px solid green;
    border-radius: 25px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.item{
    width: 140px;
    height: 70px;
    border: solid yellow;
    border-radius: 50px;
    color: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
}